@font-face {
  font-family: "Gilroy-Bold";
  src: url("./font/Gilroy-Bold.woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./font/Gilroy-Medium.woff2");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./font/Gilroy-Semibold.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.body {
  scroll-behavior: smooth;
  color: black;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
  margin-bottom: 84px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__menu {
  width: 533px;
  display: flex;
  justify-content: space-between;
}

.navigation__link-home {
  color: #f25822;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16.41px;
}

.navigation__link {
  color: black;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 16.41px;
}

.main {
  margin-bottom: 259px;
}

.content {
  display: flex;
  align-items: center;
  gap: 41px;
}

.content__title {
  max-width: 522px;
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70.31px;
  margin-bottom: 17px;
}

.content__text {
  max-width: 466px;
  color: #888;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 23.44px;
  margin-bottom: 37px;
}

.content__btn-list {
  display: flex;
  align-items: center;
  gap: 72px;
}

.btn {
  color: #fff;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 17.58px;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  padding: 15px 35px;
  border: none;
  cursor: pointer;
}

.content__btn-list__link {
  color: #aaa;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
}

.footer {
  margin-bottom: 96px;
}

.footer__logos {
  display: flex;
  justify-content: space-between;
}
